PORT=8788
HOST=127.0.0.1
GOOGLE_MAPS_API_KEY=
TICKETMASTER_API_KEY=
EVENTBRITE_TOKEN=
EVENTBRITE_PUBLIC_SEARCH_ENABLED=0
X_BEARER_TOKEN=
REDDIT_BEARER_TOKEN=
YELP_API_KEY=
WORLD_CUP_DATA_URL=https://raw.githubusercontent.com/openfootball/worldcup.json/master/2026/worldcup.json
